html {
	font-family: 'Bungee Inline', cursive
}
nav h1 {
	display:inline;
	padding: 3%;
	text-align: center;
	margin-top: 40%;
	z-index: 102;
}
nav{
	align: center;
	padding-top: 4%;
	width: 101%;
	position: fixed;
	box-shadow: 6px 5px 2px black;
	margin-left: -1%;
	display: block;
	background-color: white;
	margin-top: -3%;
	height: 10%;
	z-index: 100;
}
nav a{
	
	font-family: 'Bungee Inline', cursive;
	text-decoration: none;	
	color: black;
}
nav a:hover{
	
	font-family: 'Bungee Inline', cursive;
	color: gray;
}
form {
	padding: 15%;
	color: white;
}
body {
	background-image: url("../Home/Images/Banner.png");
}
