nav h1{
	
	display: inline;
	font-family: 'Bungee Inline', cursive;
	padding: 3%;
	text-align: center;
	margin-top: 40%;
	
}

nav{
	align: center;
	padding-top: 4%;
	width: 101%;
	position: fixed;
	box-shadow: 6px 5px 2px black;
	margin-left: -1%;
	display: block;
	background-color: white;
	margin-top: -3%;
	height: 10%;

}

nav a{
	
	font-family: 'Bungee Inline', cursive;
	text-decoration: none;	
	color: black;
}
nav a:hover{
	
	font-family: 'Bungee Inline', cursive;
	color: gray;
		
}
body{
	
	width: 80%;
	background-color: gray;	
	height: auto;
}

.parabody{
	z-index: 2;
	margin-top: -35%;	
	background-color: white;
	position: absolute;
	width: 96.4%;
	margin-left: -1%;
	padding: 2%;
	
}

header img{
	position: fixed;
	margin-top: -10%;
	margin-left: -1%;
	z-index: -100;
}

footer{
	
	background-color: white;
	width: 102.4%;
	height: 7%;
	margin-left: -1%;
	margin-top: 0%;
	text-align: center;
}

h1{
	
		font-family: 'Bungee Inline', cursive;
	
}

.parabody h1{
	margin-left: 0%;
	text-align: center;
}
body, html {
	height: 100%;
	width: 99%;
}

.parallax { 
    /* The image used */
    background-image: url("../Home/Images/Banner.png");
    /* Full height */
    height: 100%; 
    width: 102%;
    margin-left: -0.6%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

