nav h1{
	
	display: inline;
	font-family: 'Bungee Inline', cursive;
	padding: 3%;
	text-align: center;
	margin-top: 40%;
	z-index: 102;
	
}

nav{
	align: center;
	padding-top: 4%;
	width: 101%;
	position: fixed;
	box-shadow: 6px 5px 2px black;
	margin-left: -1%;
	display: block;
	background-color: white;
	margin-top: -3%;
	height: 10%;
	z-index: 100;
}

nav a{
	
	font-family: 'Bungee Inline', cursive;
	text-decoration: none;	
	color: black;
}
nav a:hover{
	
	font-family: 'Bungee Inline', cursive;
	color: gray;
		
}
body{
	
	width: 80%;
	background-color: gray;	
	height: auto;
}

.parabody{
	z-index: 2;
	margin-top: -30%;	
	background-color: white;
	position: absolute;
	width: 96.4%;
	margin-left: -1%;
	padding: 2%;
	
}

header img{
	position: fixed;
	margin-top: -10%;
	margin-left: -1%;
	z-index: -100;
}

footer{
	
	background-color: white;
	width: 102.4%;
	height: 7%;
	margin-left: -1%;
	margin-top: 100%;
	text-align: center;
}

h1{
	
		font-family: 'Bungee Inline', cursive;
	
}

.parabody h1{
	margin-left: 0%;
	text-align: center;
}

.parabody p{
	
	font-family: 'Ubuntu', sans-serif;

}

.pbody p{
	
	font-size: 18px;
	
}

.parabody td{
	
	padding-left: 2%;
	padding-right: 2%;
	padding-top: -3%;
	
}

.parabody th{
	
	padding-top: -5%;
	
}

.parabody thead{
	
	padding-bottom: -5%;
	
}

.parabody a{
	
	color: gray; 
	text-decoration: none; 
	font-family: 'Bungee Inline', cursive; 
	
}

.parabody a:hover{
	
	color: black;
	
}

.parabody h2{
	
	font-family: 'Bungee Inline', cursive;
	
}

.parabody h3{
	
	font-family: 'Bungee Inline', cursive;
	
}

.parabody h2{
	
		font-family: 'Bungee Inline', cursive;
	
}

.parabody a{
			font-family: 'Bungee Inline', cursive;
	color: gray;
	text-decoration: none;
	
	
}

.parabody a:hover{
	
	color: black;
	
}
body, html {
	height: 100%;
	width: 99%;
}

.parallax { 
    /* The image used */
    background-image: url("../Home/Images/Banner.png");
    /* Full height */
    height: 100%; 
    width: 102%;
    margin-left: -0.6%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 { 
    /* The image used */
    /* Full height */
    height: 50%;
    width: 100.5%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: -6%;
    margin-left: -1%;

	
}

#imgSecBG1{
	
}

#imgSecBG2{
	
	background-image: url("../Home/Images/sectionimage1.jpeg");
	z-index: -4;
}

#imgSecBG3{
	margin-top: 50%;
	background-image: url("../Home/Images/TypicalReload Banner.jpg")
}
.imagesection img{
	
	z-index: -5;

}

.imagesection h1{
	
	color: white;
	font-size: 36px;
	text-align: center;
	margin-top: 12%;
}
.nonblur{
	
	-webkit-filter: blur(0px);
    filter: blur(0px);
	
}
